html,
body {
  width: 100%;
  height: 100%;
  background: black;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  top:0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

#canvas {
  width: 100%;
  height: 100%;
}
label {
  margin: 0 30px 0 5px;
}
a {
  position: absolute;
  left: 0;
  color: white;
}
.input {
  /* margin: 10px; */
  position: relative;
  z-index: 1;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
#input {
  text-align: center;
  border-color: #89caff;
  border-radius: 4px;
  border: 1px solid #89caff;
  height: 100%;
}
button {
  padding: 0 5px;
  border-radius: 5px;
  margin: 0 5px;
  height: 100%;
  border-color: #89caff;
  outline: none;
}
