html,
body {
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}

#root {
  background: black;
  display: flex;
  width: 100%;
  position: absolute;
  top:0;
  bottom: 0;
}
.input {
  padding: 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 30px;
  z-index: 1;
}
#input {
  text-align: center;
  border-color: #89caff;
  border-radius: 4px;
  border: 1px solid #89caff;
  height: 100%;
}
#button {
  padding: 0 5px;
  border-radius: 5px;
  margin: 0 5px;
  height: 100%;
  border-color: #89caff;
  outline: none;
}
#canvas {
  /* width: 100%;
  height: 80%; */
  margin: auto;
  /* border: 1px solid yellow; */
}
a {
  margin: 0 20px;
  color: white;
}
